.navbar-fixed nav{
    background: rgba(18,37,98, 0.6) url('../images/cabecera-1.png') top left no-repeat;
    height: 84px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.navbar-fixed .nav-wrapper .logo a{
    position: relative;
    left: 20px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    z-index: 20;
}

.navbar-fixed .nav-wrapper h4{
    font-size: 1em;
}

.navbar-fixed nav form input{
    display: inline;
}

.navbar-fixed nav form a{
    background-color: transparent!important;
    text-align: left!important;
    box-shadow: none!important;
    padding: 0px!important;
}

.navbar-fixed nav i{
    font-size: 1.5em!important;
    margin-top: -15px!important;
}

#identificate{
    margin-top: 15px;

}

.footer {
    color: #ffffff;
    font-size: small;
}


#menu-principal{
    margin-top: 20px;
    background-color: #A00D17;
    text-transform: uppercase;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 330px!important;
    float: left;
    width: 100%;
    border: 0;
}

#slide{
    margin-top: 10px;
    padding: 0!important;
}

#side-menu .card-panel{
    height: 350px;
    background-color: #ffffff;
    color: #A00D17;
    text-align: center!important;
    font-size: 1.3em!important;
}

.location {
    text-align: right;
    font-size: x-small;
}

#side-menu .collection{
    margin: 0px!important;
}

main{
    margin-bottom: 0!important;
}