.navbar-ucm nav{
    position: fixed;
    background: rgba(18,37,98, 0.6) url('../images/cabecera-1.png') top left no-repeat;
    height: 84px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#header, #header_pags {
    background: rgba(18,37,98, 0.6) url('https://www.ucm.es/themes/ucm3/media/img/cabecera-1.png') top left no-repeat;
}

.navbar-ucm .nav-wrapper .logo a{
    position: relative;
    left: 20px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    z-index: 20;
}

.navbar-ucm .nav-wrapper h4{
    font-size: 1em;
}

.navbar-ucm nav form input{
    display: inline;
}

.navbar-ucm nav form a{
    background-color: transparent!important;
    text-align: left!important;
    box-shadow: none!important;
    padding: 0px!important;
}

.navbar-ucm nav i{
    font-size: 1.5em!important;
    margin-top: -15px!important;
}

#identificate{
    margin-top: 15px;

}

.footer {
    color: #ffffff;
    font-size: small;
/*    position: static;*/
}


#menu-principal{
    margin-top: 20px;
    background-color: #A00D17;
    text-transform: uppercase;
}

#menu-principal-opciones, .button-collapse {
    /*margin-top: -25px;*/
}

#contenido{
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
}   

.contenido-alumnos{
    margin-left: 40px;
    color: #A00D17;
    font-size: 20px;
}

#p1{
    font-size: 14px;
    color: black;
    padding-bottom: 8px;
    margin-left: 15px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 330px!important;
    float: left;
    width: 100%;
    border: 0;
}

#slide{
    margin-top: 10px;
    padding: 0!important;
}

#side-menu .card-panel{
    height: 350px;
    background-color: #ffffff;
    color: #A00D17;
    text-align: center!important;
    font-size: 1.3em!important;
}

.location {
    text-align: center;
    font-size: x-small;
}

#side-menu .collection{
    margin: 0px!important;
}

main{
    padding-bottom: 80px;
}

footer.row{
    margin: 0;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}


.dropdown-content{
    margin-top: 65px;
}

.card, card-small{
    height: auto!important;
}