.navbar-ucm nav{
    background: rgba(18,37,98, 0.6) url('../images/cabecera-1.png') top left no-repeat;
    height: 84px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#header, #header_pags {
    background: rgba(18,37,98, 0.6) url('https://www.ucm.es/themes/ucm3/media/img/cabecera-1.png') top left no-repeat;
}

.navbar-ucm .nav-wrapper .logo a{
    position: relative;
    left: 20px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    z-index: 20;
}

.navbar-ucm .nav-wrapper h4{
    font-size: 1em;
}

.navbar-ucm nav form input{
    display: inline;
}

.navbar-ucm nav form a{
    background-color: transparent!important;
    text-align: left!important;
    box-shadow: none!important;
    padding: 0px!important;
}

.navbar-ucm nav i{
    font-size: 1.5em!important;
    margin-top: -15px!important;
}

#identificate{
    margin-top: 15px;

}

.footer {
    color: #ffffff;
    position: fixed;
}


#menu-principal{
    background-color: #A00D17;
    text-transform: uppercase;
}

nav#menu-principal, nav#menu-principal .nav-wrapper i, nav#menu-principal a.button-collapse, nav#menu-principal a.button-collapse i{
    line-height: 55px!important;
}

#contenido{
    display: block;
    font-size: 1rem;
    line-height: 64px;
    padding: 0 15px;
}   

.contenido-alumnos{
    margin-left: 40px;
    color: #A00D17;
    font-size: 20px;
}

#p1{
    font-size: 14px;
    color: black;
    padding-bottom: 8px;
    margin-left: 15px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 400px!important;
    float: left;
    width: 100%;
    border: 0;
}

#slide{
    margin-top: 10px;
    padding: 0!important;
}

#side-menu .card-panel{
    height: 350px;
    background-color: #ffffff;
    color: #A00D17;
    text-align: center!important;
    font-size: 1.3em!important;
}

.location-address {
    font-size: x-small!important;
    padding-top: 10px!important;
}

.location {
    font-size: small;
    padding-top: 10px!important;
    padding-left: 20px!important;
}

#side-menu .collection{
    margin: 0px!important;
}



footer.row{
    margin: 0;
    color: #fff;
}

@media(min-width: 992px){
    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 500;
    }
    main{
        padding-bottom: 80px;
    }
}

@media(max-width: 992px){
    footer{
        position: inherit;
        width: 100%;
    }
}


.dropdown-content{
    margin-top: 65px;
}

.dropdown-content-mov{
    color: #A00D17;
}

.dropdown-content-mov-header{
    font-weight: bold;
}

.card, card-small{
    height: auto!important;
}

.side-nav{
    z-index: 1000;
}

#header .row{
    margin-bottom: 0;
}

#header img{
    max-height: 55px;
}

footer .row{
    /*margin-bottom: 0;*/
    max-height: 50px;
}

.card-action, #identificate{
    background-color: #A00D17!important;
}

.card-action > a{
    color: #fff!important;
}

#funcionalidades-secundarias .col:first-of-type{
    padding-left: 0;
}
#funcionalidades-secundarias .col:last-of-type{
    padding-right: 0;
}

#logo-navbar{
    height: 45px;
    margin-top: 3px;
    display: none;
}

.dropdown-content li > a, .dropdown-content li > span{
    color: #A00D17;
}

.dropdown-content-mov li > a, .dropdown-content-mov li > span{
    color: #A00D17;
}

.a-footer {
    color: #fff!important;
    font-weight: bold!important;
    text-decoration: none!important;
    -webkit-tap-highlight-color: transparent!important;
}

.card-memory {
    background-color: #fff;
}

.card-memory-title {
    color: #a00d17!important;
}

.card-content-memory {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    font-size: small;
}

.card-action-memory {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    background-color: #a00d17;
}

.card-action-memory a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #fff;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card-action-memory a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #fff;
}

.nav-memory {
    color: #fff;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #A00D17;
}

.color-ucm{
    color: #4d4d4d;
    font-size: 12px;	
}

.color-ucm-titulo{
    color: #A00D17;
    font-size: 16px;
    font-weight: bold;	
}
